App_WebReferences/il/co/simplesms/ws2/ManagmentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws2.simplesms.co.il/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ws2.simplesms.co.il/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws2.simplesms.co.il/">
      <s:element name="GetCredit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCreditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCreditResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCreditSoapIn">
    <wsdl:part name="parameters" element="tns:GetCredit" />
  </wsdl:message>
  <wsdl:message name="GetCreditSoapOut">
    <wsdl:part name="parameters" element="tns:GetCreditResponse" />
  </wsdl:message>
  <wsdl:message name="GetCreditHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCreditHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetCreditHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCreditHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="ManagmentServiceSoap">
    <wsdl:operation name="GetCredit">
      <wsdl:input message="tns:GetCreditSoapIn" />
      <wsdl:output message="tns:GetCreditSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ManagmentServiceHttpGet">
    <wsdl:operation name="GetCredit">
      <wsdl:input message="tns:GetCreditHttpGetIn" />
      <wsdl:output message="tns:GetCreditHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ManagmentServiceHttpPost">
    <wsdl:operation name="GetCredit">
      <wsdl:input message="tns:GetCreditHttpPostIn" />
      <wsdl:output message="tns:GetCreditHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ManagmentServiceSoap" type="tns:ManagmentServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCredit">
      <soap:operation soapAction="http://ws2.simplesms.co.il/GetCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ManagmentServiceHttpGet" type="tns:ManagmentServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetCredit">
      <http:operation location="/GetCredit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ManagmentServiceHttpPost" type="tns:ManagmentServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetCredit">
      <http:operation location="/GetCredit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManagmentService">
    <wsdl:port name="ManagmentServiceSoap" binding="tns:ManagmentServiceSoap">
      <soap:address location="http://ws2.simplesms.co.il/ManagmentService.asmx" />
    </wsdl:port>
    <wsdl:port name="ManagmentServiceHttpGet" binding="tns:ManagmentServiceHttpGet">
      <http:address location="http://ws2.simplesms.co.il/ManagmentService.asmx" />
    </wsdl:port>
    <wsdl:port name="ManagmentServiceHttpPost" binding="tns:ManagmentServiceHttpPost">
      <http:address location="http://ws2.simplesms.co.il/ManagmentService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>